In [2]:
# print 0 to 20 by using range

for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [19]:
# print range 10 to 20

for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [20]:
 #another method(# print range 10 to 20)
print(*range(10,20))

10 11 12 13 14 15 16 17 18 19

In [55]:
# Print number of items in the list by using 'len'

MyList=[10, 20, 14, 55, 43, 87, 76]
print(MyList)
print("Number of item in the List:",len(MyList))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List: 7

In [34]:
#print the sentence line by line

List = "Artificial Intelligence"
for u in List:
    print(u)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [37]:

List = "Nishanth","24","Software testing"
for o in List:
    print(o)

Nishanth
24
Software testing

In [38]:
# Print this mixered datatype using Tuples
Tuple = (1, 'Welcome', 2, 'Hope')
print(Tuple)

(1, 'Welcome', 2, 'Hope')

In [39]:
# Print this datatype using Tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 =  ('python', 'HOPE')
Tuple3 = (Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [44]:
 # print Odd Numbers in the list using tuples
    
Tuple1 = (20,10,16,19,25,1,276,188)
for k in Tuple1:
    if(k%2 == 1):
        print(k, "is odd number")

19 is odd number
25 is odd number
1 is odd number

In [45]:
# print Even numbers in the list using tuples

Tuple1 = (20,10,16,19,25,1,276,188)
for k in Tuple1:
    if(k%2 == 0):
        print(k, "is even number")

20 is even number
10 is even number
16 is even number
276 is even number
188 is even number

In [54]:
# print the tuples values using concatination and unpack method

Tuple1 = (20,10,'Nishanth',19,25,1)
Tuple2 =  ('python', 'HOPE')
Tuple3 = Tuple2+Tuple1
print(Tuple3)
a,b = Tuple2
print(a)
print(b)

('python', 'HOPE', 20, 10, 'Nishanth', 19, 25, 1)
python
HOPE